﻿
@page "/"
<PageTitle>Sales Management App</PageTitle>

<div class="heading">
    <h1 class="header-text mt-3"><b>Sales Management</b></h1>
    <div class="logo-img-container">
        <img class="logo-img img-fluid" src="/Images/Products/Oexl.png">
    </div>
</div>

<style>
    .logo-img-container{
        max-width:600px;
        max-height:600px;
    }
    .logo-img{
        height:100%;
        width:100%;
    }
    .heading{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .header-text{
        text-align:center;
    }
</style>
